In [1]:
# Import Libraries and Dependencies
import pandas as pd

df = pd.read_csv('Resources/athletic_sales_2020.csv')
df2 = pd.read_csv('Resources/athletic_sales_2021.csv')

# print(df)
# print(df2)

df.head()
df2.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

### 1. Combine and Clean the Data
#### Import CSVs

In [2]:
# Read the CSV files into DataFrames.
df = pd.read_csv('Resources/athletic_sales_2020.csv')
df2 = pd.read_csv('Resources/athletic_sales_2021.csv')

In [3]:
# Display the 2020 sales DataFrame
df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [4]:
# Display the 2021 sales DataFrame
df2.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [5]:
# Check the 2020 sales data types.
print("Data types of columns:")
print(df.dtypes)

Data types of columns:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [6]:
# Check the 2021 sales data types.
print("Data types of columns:")
print(df2.dtypes)

Data types of columns:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [7]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([df, df2], ignore_index=True)
combined_df.reset_index(drop=True, inplace=True)

print("Combined DataFrame:")
print(combined_df.head())

Combined DataFrame:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [8]:
# Check if any values are null.
null_values = combined_df.isnull().any()

if null_values.any():
    print("Columns with null values:")
    print(null_values[null_values])
else:
    print("No null values.")

No null values.

In [9]:
# Check the data type of each column
print("Data types of columns:")
print(combined_df.dtypes)

Data types of columns:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [10]:
# Convert the "invoice_date" to a datetime datatype
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])
print(combined_df)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732   2020-01-01  Northeast      New York
1     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3     Foot Locker      1185732   2020-01-01  Northeast      New York
4     Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9639  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania
9640       Amazon      1185732   2021-12-31  Northeast         Maine
9641       Amazon      1185732   2021-12-31  Northeast         Maine
9642  Foot Locker      1185732   2021-12-31  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

C:\Users\spenc\AppData\Local\Temp\ipykernel_5592\2423616478.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [11]:
# Confirm that the "invoice_date" data type has been changed.
print("Updated DataFrame with invoice_date converted to datetime:")
print(combined_df.head())

Updated DataFrame with invoice_date converted to datetime:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732   2020-01-01  Northeast      New York
1  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
2  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania
3  Foot Locker      1185732   2020-01-01  Northeast      New York
4  Foot Locker      1185732   2020-01-01  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [12]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
products_sold_by_region = combined_df.groupby(['region', 'state', 'city'])['product'].count().reset_index()
products_sold_by_region.rename(columns={'product': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results.
top_5_products_sold = products_sold_by_region.sort_values(by='Total_Products_Sold', ascending=False).head(5)
print("Top 5 Regions, States, and Cities by Number of Products Sold:")
print(top_5_products_sold)

Top 5 Regions, States, and Cities by Number of Products Sold:
       region      state           city  Total_Products_Sold
27      South   Arkansas    Little Rock                  216
40  Southeast   Virginia       Richmond                  216
32      South      Texas         Dallas                  216
31      South  Tennessee      Knoxville                  216
30      South   Oklahoma  Oklahoma City                  216

#### Using `pivot_table`

In [13]:
# Show the number products sold for region, state, and city.
pivot_table = pd.pivot_table(df, 
                             values='units_sold', 
                             index=['region', 'state', 'city'], 
                             aggfunc='sum', 
                             fill_value=0)

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table = pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results.
top_5_results = pivot_table.sort_values(by='Total_Products_Sold', ascending=False).head(5)
print("Top 5 Consumers:")
print(top_5_results)

Top 5 Consumers:
                                Total_Products_Sold
region    state      city
Northeast New York   New York                111954
South     Texas      Houston                  90322
Southeast Florida    Miami                    73135
West      Nevada     Las Vegas                51831
          Washington Seattle                  46611

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [14]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_sales = df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()
grouped_sales = grouped_sales.rename(columns={'total_sales': 'Total Sales'})
  #print("Total Sales for Products Sold by Region, State, and City:")
  #print(grouped_sales)

# Show the top 5 results.
top_5_sales = grouped_sales.sort_values(by='Total Sales', ascending=False).head(5)
print("Top 5 Regions, States, and Cities by Total Sales:")
print(top_5_sales)

Top 5 Regions, States, and Cities by Total Sales:
      region       state      city  Total Sales
1  Northeast    New York  New York     39801235
4  Southeast     Florida     Miami     31600863
8       West  Washington   Seattle     26330718
3      South       Texas   Houston     25456882
6       West    Colorado    Denver     20996536

#### Using `pivot_table`

In [15]:
# Show the total sales for the products sold for each region, state, and city.
pivot_sales = pd.pivot_table(df, 
                             index=['region', 'state', 'city'], 
                             values='total_sales', 
                             aggfunc='sum').reset_index()


# Optional: Rename the "total_sales" column to "Total Sales"
pivot_sales = pivot_sales.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
top_5_sales_pivot = pivot_sales.sort_values(by='Total Sales', ascending=False).head(5)

print("Top 5 Sales Area (Using Pivot Table):")
print(top_5_sales_pivot)

Top 5 Sales Area (Using Pivot Table):
      region       state      city  Total Sales
1  Northeast    New York  New York     39801235
4  Southeast     Florida     Miami     31600863
8       West  Washington   Seattle     26330718
3      South       Texas   Houston     25456882
6       West    Colorado    Denver     20996536

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [16]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_sales = df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()
grouped_sales = grouped_sales.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
top_5_sales_groupby = grouped_sales.sort_values(by='Total Sales', ascending=False).head(5)

print("Top 5 Sales, Retailers(using groupby):")
print(top_5_sales_groupby)

Top 5 Sales, Retailers(using groupby):
       retailer     region       state       city  Total Sales
1   Foot Locker  Northeast    New York   New York     25008568
17    West Gear       West  Washington    Seattle     24862675
15    West Gear       West    Colorado     Denver     20996536
16    West Gear       West      Nevada  Las Vegas     20858509
10      Walmart      South       Texas    Houston     19172995

#### Using `pivot_table`

In [17]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_sales = pd.pivot_table(grouped_sales, 
                             index=['retailer', 'region', 'state', 'city'], 
                             values='Total Sales', 
                             aggfunc='sum').reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.
top_5_sales_pivot = pivot_sales.sort_values(by='Total Sales', ascending=False).head(5)

print("\nTop 5 Retailers, Regions, States, and Cities by Total Sales (using pivot_table):")
print(top_5_sales_pivot)

Top 5 Retailers, Regions, States, and Cities by Total Sales (using pivot_table):
       retailer     region       state       city  Total Sales
1   Foot Locker  Northeast    New York   New York     25008568
17    West Gear       West  Washington    Seattle     24862675
15    West Gear       West    Colorado     Denver     20996536
16    West Gear       West      Nevada  Las Vegas     20858509
10      Walmart      South       Texas    Houston     19172995

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [18]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_athletic_footwear_sales = df[df['product'].str.contains("Women's Athletic Footwear", case=False)]


print("Women's Athletic Footwear Sales Data:")
print(womens_athletic_footwear_sales)

Women's Athletic Footwear Sales Data:
         retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732       1/4/20  Northeast      New York
22    Foot Locker      1185732       1/4/20  Northeast      New York
23    Foot Locker      1185732       1/4/20  Northeast      New York
26      West Gear      1128299       1/5/20  Northeast  Pennsylvania
27      West Gear      1128299       1/5/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1268  Foot Locker      1185732     12/25/20    Midwest     Minnesota
1271  Foot Locker      1185732     12/25/20    Midwest     Minnesota
1282    West Gear      1128299     12/28/20       West    California
1283    West Gear      1128299     12/28/20       West    California
1284    West Gear      1128299     12/28/20       West    California

               city                    product  price_per_unit  units_sold  \
21         New York  Women's Athletic Footwear              36         281
22         New York  Women's Athletic Footwear              41         247
23         New York  Women's Athletic Footwear              45         850
26     Philadelphia  Women's Athletic Footwear              45         300
27     Philadelphia  Women's Athletic Footwear              34          90
...             ...                        ...             ...         ...
1268    Minneapolis  Women's Athletic Footwear              45         175
1271    Minneapolis  Women's Athletic Footwear              44          49
1282  San Francisco  Women's Athletic Footwear              60         625
1283  San Francisco  Women's Athletic Footwear              48         188
1284  San Francisco  Women's Athletic Footwear              54         188

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
1268        78750          27562.50       Outlet
1271         2156           1056.44       Online
1282       375000         112500.00       Outlet
1283         9024           3068.16       Outlet
1284        10152           4162.32       Online

[214 rows x 12 columns]

#### Using `groupby`

In [19]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
womens_athletic_footwear_summary = womens_athletic_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
womens_athletic_footwear_summary.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
top_5_womens_athletic_footwear = womens_athletic_footwear_summary.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

print("Top 5 Women's Shoe Sales:")
print(top_5_womens_athletic_footwear)

Top 5 Women's Shoe Sales:
       retailer     region       state       city  Womens_Footwear_Units_Sold
1   Foot Locker  Northeast    New York   New York                       10996
8       Walmart      South       Texas    Houston                        8716
14    West Gear       West      Nevada  Las Vegas                        7077
15    West Gear       West  Washington    Seattle                        5809
13    West Gear       West    Colorado     Denver                        5697

#### Using `pivot_table`

In [20]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_womens_athletic_footwear = df[df['product'] == "Women's Athletic Footwear"].pivot_table(
    index=['retailer', 'region', 'state', 'city'],
    values='units_sold',
    aggfunc='sum'
).reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_womens_athletic_footwear.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
top_5_womens_athletic_footwear_pivot = pivot_womens_athletic_footwear.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head(5)

print("Top 5 Women's Show Sales (Pivot Table):")
print(top_5_womens_athletic_footwear_pivot)

Top 5 Women's Show Sales (Pivot Table):
       retailer     region       state       city  Womens_Footwear_Units_Sold
1   Foot Locker  Northeast    New York   New York                       10996
8       Walmart      South       Texas    Houston                        8716
14    West Gear       West      Nevada  Las Vegas                        7077
15    West Gear       West  Washington    Seattle                        5809
13    West Gear       West    Colorado     Denver                        5697

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [21]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_total_sales_by_date = df.pivot_table(index='invoice_date', values='total_sales', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_total_sales_by_date.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table.
print(pivot_total_sales_by_date)

              Total Sales
invoice_date
1/1/20             845141
1/10/20            200469
1/11/20            129556
1/12/20            104982
1/13/20            189096
...                   ...
9/5/20             402432
9/6/20             399393
9/7/20             882296
9/8/20             726106
9/9/20             814562

[358 rows x 1 columns]

In [22]:
df['invoice_date'] = pd.to_datetime(df['invoice_date'])
# Resample the pivot table into daily bins, and get the total sales for each day.
pivot_total_sales_by_date.index = pd.to_datetime(pivot_total_sales_by_date.index)

# Sort the resampled pivot table in descending order on "Total Sales".
daily_sales = pivot_total_sales_by_date.resample('D').sum()

print(daily_sales)

              Total Sales
invoice_date
2020-01-01         845141
2020-01-02         689410
2020-01-03         632573
2020-01-04         615080
2020-01-05         707829
...                   ...
2020-12-26         560978
2020-12-27         665532
2020-12-28         564234
2020-12-29         576898
2020-12-30         808435

[365 rows x 1 columns]

C:\Users\spenc\AppData\Local\Temp\ipykernel_5592\3889926612.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['invoice_date'] = pd.to_datetime(df['invoice_date'])
C:\Users\spenc\AppData\Local\Temp\ipykernel_5592\3889926612.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pivot_total_sales_by_date.index = pd.to_datetime(pivot_total_sales_by_date.index)

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [23]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_total_sales_by_date.resample('W').sum()

# Sort the resampled pivot table in descending order on "Total Sales".
weekly_sales_sorted = weekly_sales.sort_values(by='Total Sales', ascending=False)
print(weekly_sales_sorted)

              Total Sales
invoice_date
2020-04-26       13165823
2020-05-03        7349542
2020-03-15        6719747
2020-09-13        6509653
2020-02-09        6234951
2020-05-24        5918321
2020-03-08        5771565
2020-02-02        5353189
2020-08-23        5231090
2020-08-02        5103389
2020-08-09        4867010
2020-01-26        4831822
2020-09-20        4818523
2020-08-16        4786338
2020-04-19        4737712
2020-05-10        4259351
2020-07-26        3989358
2020-07-05        3761741
2020-12-27        3656700
2020-07-12        3575837
2020-01-05        3490033
2020-07-19        3461543
2020-11-01        3336738
2020-11-15        3255926
2020-10-04        3255401
2020-02-16        3235124
2020-09-27        3115095
2020-11-08        2987206
2020-03-22        2981516
2020-10-25        2973825
2020-10-11        2898454
2020-01-12        2837846
2020-08-30        2830949
2020-09-06        2753109
2020-06-28        2739173
2020-02-23        2325075
2021-01-03        1949567
2020-04-05        1904789
2020-05-17        1819418
2020-06-14        1802072
2020-06-21        1786873
2020-03-01        1770795
2020-05-31        1627780
2020-04-12        1490845
2020-06-07        1481505
2020-01-19        1410638
2020-03-29        1201449
2020-11-29        1024420
2020-11-22         927605
2020-12-06         739673
2020-12-20         590227
2020-12-13         466322
2020-10-18         251468